.header {
  height: 107px;
  background-color: #1e2633;
  align-items: center;
  margin: auto;
  top: 0;
  z-index: 2;
  position: sticky;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.header-container {
  display: flex;
  justify-content: center;
  color: white;
  width: 30%;
  height: 100%;
  align-items: center;
}

.button {
  background-color: #f68630;
  border-radius: 10px;
  width: 4vw;
  color: #1e2633;
  font-weight: bold;
}
img {
  width: 40%;
}
.input {
  width: 50%;
}
